.wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .wrapper__btn{
    display: flex;
    a{
      margin: 16px;
    }

  }
  .customer__item{
    border: 1px solid #164cbb;
    &:hover{
      cursor: pointer;
      background-color: #27aaaa;
    }
    &:active{
      background-color: #c71b99;
    }
  }
}